
 body{
    margin: 0;
    padding: 0;
}

header{
  background-color: aquamarine;
  border-color: balck solid 1px;
  padding: 50px;
}

main{
    display: flex;
}

main aside{
    background-color: red;
    width: 20%;
}

.container-products{
    max-width: 80%;
    display: flex;
    flex-flow: row;
}

.container-products div{
    background-color: chocolate;
    width: 300px;
    margin: 3px;
    border: 4px red solid;
}

.container-products div img {
    width: 100%;
}
